gem 'comfortable_mexican_sofa'
gem 'newrelic_rpm'
gem 'wirble'
gem 'hirb'
gem 'cancan'
gem 'i18n-active_record'
gem 'uglifier'
gem 'exception_notification_rails3', :require => 'exception_notifier'
gem 'geokit'
gem 'geokit-rails3'
